@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  margin: 0;
  padding: 40px;
  background-color: #E7E7E7;
}

section {
  padding: 20px 0;
}

/* Contenedor principal */
header {
  width: 100%;
  height: 90vh;
  background: url(../assets/images/header.jpg) center/cover no-repeat;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Navbar */
nav {
  color: white;
  padding: 36px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.logo a img {
  height: 40px;
  width: auto;
}

/* Zona principal */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero-text {
  position: absolute;
  color: white;
  padding: 20px 60px;
  border-radius: 5px;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
}

.hero-text h1 {
  font-size: clamp(28px, 5vw, 64px);
  font-weight: bold;
}

.hero-text p {
  font-size: clamp(16px, 2.5vw, 24px);
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-text span {
  font-weight: bold;
}

.btncv {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000c7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btncv:hover {
  background-color: #ffffff;
  color: black;
}

/* Habilidades */
#oficio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px 0;
}

.of {
  background: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.of div {
  background-color: white;
  background-size: cover;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.of-1, .of-2, .of-3, .of-4 {
  background-position: center;
  background-size: cover;
}

.of-1 { background-image: url(../assets/images/Mask\ group-1.png); }
.of-2 { background-image: url(../assets/images/Mask\ group-2.png); }
.of-3 { background-image: url(../assets/images/Mask\ group-3.png); }
.of-4 { background-image: url(../assets/images/Mask\ group.png); }

.of-titu {
  font-size: 29px;
  font-weight: bold;
}

/* Sección competencias */
#competencias {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.competitu {
  text-align: center;
  padding: 40px 0;
}

.competitu h2 {
  font-weight: bold;
  font-size: 29px;
  padding: 10px 0;
}

.competitu p {
  font-weight: normal;
  font-size: 18px;
  padding: 10px 0;
}

.compeimg {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 100%;
  padding-bottom: 40px;
}

.compe {
  text-align: center;
  padding: 10px;
}

/* Portafolio */
#portafolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.port {
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  aspect-ratio: 1;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.port span {
  background-color: #ffffff1e;
  padding: 6px 12px;
  border-radius: 6px;
}

.port-1 { background-image: url(../assets/images/ranzao-mini.png); }
.port-2 { background-image: url(../assets/images/patty.png); }
.port-3 { background-image: url(../assets/images/phoyography.png); }
.port-4 { background-image: url(../assets/images/lenocreativo.png); }

.port:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Contacto */
#contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 60px 20px;
  text-align: center;
  background-image: url(../assets/images/contactback.png);
}

.info {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 300;
  margin-bottom: 10px;
}

#contacto h3 {
  font-size: clamp(28px, 4vw, 56px);
  font-weight: bold;
  margin-bottom: 20px;
}

.mail {
  font-size: clamp(20px, 3vw, 29px);
  font-weight: 400;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.logo-footer img {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

footer ul li {
  padding: 0 10px;
  margin: 20px 0;
}

footer p {
  font-size: clamp(12px,4vw,24px);
  margin-top: 10px;
}

/* Media Queries */

@media (max-width: 1200px) {
  .compeimg {
    grid-template-columns: repeat(4, 1fr);
  }

  #oficio {
    grid-template-columns: repeat(2, 1fr);
  }

  #portafolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .compeimg {
    grid-template-columns: repeat(2, 1fr);
  }

  #oficio {
    grid-template-columns: repeat(2, 1fr);
  }

  #portafolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .compeimg {
    grid-template-columns: repeat(2, 1fr);
  }

  #oficio {
    grid-template-columns: repeat(1, 1fr);
  }

  #portafolio {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
